body{
background-color:rgba(230, 228, 228, 0.588);
}

.head{

    background-color: rgba(1, 1, 55, 0.911);
    color: white;
    text-align: center;
    padding-top: 4px;

}
.head p{
color: rgba(255, 255, 255, 0.521);

}
button{
    background-color: blueviolet;
    color: white;
    padding-block: 7px;
    padding-inline: 8px;
    border: 1px solid blueviolet;
    border-radius: 3px;
    margin-bottom: 12px;
}
.content{
    width:90% ;
    margin: auto;
    
}
h4{
    margin-bottom: -5px;
}
.left button{
font-weight: bold;

}
.left p{
    color: rgba(0, 0, 0, 0.608);
     font-size: 12px;
}
.left{
    float: left;
    margin-top: 30px;
}
.right{
    float: right;
 
}
.one , .two , .three{
    background-color: white;
    font-size: 11px;
    padding-inline: 3px;
    padding-block: 1px;
    margin-block: 4px;
    border: 1px solid white;
    border-radius: 2px;
    
  
}
.one{
    margin-top: 16px;
    border-left: 2px solid rgb(131, 10, 244);
}
.left h4{
    margin-left: 10px;
}